<div class="container my-5">
  <h2 class="mb-4"> un employé</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm()"  >
    <!-- Name Field -->
    <div class="form-group mb-3">
      <label for="name">Nom</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
      />
      <div  class="text-danger">
        Le nom est requis.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="name">Post</label>
      <input
        type="text"
        id="post"
        formControlName="post"
        class="form-control"
      />
      <div  class="text-danger">
        Le Post est requis.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="name">salaire</label>
      <input
        type="number"
        id="salaire"
        formControlName="salaire"
        class="form-control"

      />
      <div  class="text-danger">
        Le salaire  est requis.
      </div>
    </div>

    <!-- Address Field -->

    <!-- Phone Field -->

      <div class="form-group mb-3">
        <label for="name">Email</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="form-control"
        />
        <div  class="text-danger">
          L'email est obligatoire et doit être valide
        </div>
    </div>
    <div class="form-group mb-3">
      <label for="password">password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
      />
      <div  class="text-danger">
        Le mot de passe est obligatoire et doit comporter au moins 6 caractères
      </div>
  </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" >
      Ajouter
   <!--  {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}-->
    </button>
  </form>
</div>
